{% extends 'base.html' %}
{% block head %}
<title>Settings</title>
{% endblock %}
{% block body %}
<a href="/"><img src="{{ url_for('static', filename='images/back-arrow.png') }}" class="back"></a>
<body class="box">
    <h1>Settings</h1>
    <h2>Account name: {{user.name}}</h2>
    <hr>
    <br>
    <h3>Bio</h3>
    {%  if user.bio is not none  %}
        <form action="/change-bio" method="POST" class="bio">
            <textarea name="content" id="content" rows="10" cols="50" maxlength="400" placeholder="{{ user.bio }}"></textarea> <br><br>
            <input type="submit" value="change bio" class="bio">
        </form><br><br>
    {% else %}
        <form action="/change-bio" method="POST" class="bio">
            <textarea name="content" id="content" rows="10" cols="50" maxlength="400" placeholder="This is your bio. You can see it on your profile"></textarea> <br><br>
            <input type="submit" value="change bio" class="bio">
        </form><br><br>
    {% endif %}
    <a href="/pw-change">Change Password</a>
    <br><br>
    <div class="danger-box">
        <h2>Danger! This option is <b>PERMANENT</b>.</h2>
        <a href="/delete-account">delete account</a> <br>
    </div>
</body>
{% endblock %}
