{% extends 'base.html' %}
{% block head %}
<title>delete account</title>
{% endblock %}
{% block body %}
<a href="/settings"><img src="{{ url_for('static', filename='images/back-arrow.png') }}" class="back"></a>
<body class="box">
    <h1>Are you sure??</h1>
    <h2>Account name: {{user.name}}</h2>
    <hr>
    <div class="danger-box">
        <form action="/delete-account" method="POST" class="accountdelete-confirmation">
            <h2>Confirmation password</h2>
            <input type="password" name="password" id="password" class="accountdelete-confirmation"><br><br>
            <input type="submit" value="Yes, I'm sure" class="accountdelete-confirmations">
        </form>
    </div>
</body>
{% endblock %}
