{% extends 'base.html' %}

{% block head %}
<title>Create post</title>
{% endblock %}

{% block body %}
<a href="/"><img src="{{ url_for('static', filename='images/back-arrow.png') }}" class="back"></a>
<div class="box">
<h1>Create Post</h1>

<form action="/dropper" method="POST">
    <input type="text" name="title" id="titleinput" placeholder="title"><br><br>
    <textarea name="content" id="content" rows="10" cols="50" autofocus maxlength="400">
Each post is anonymous (currently)
    </textarea> <br><br>
    <input type="text" name="image" id="imageinput" placeholder="hyperlink to image (optional)">
    <br><br>
    <input type="submit" value="submit">
</form>
</div>
<div class="messages">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {%endwith %}
</div>
{% endblock %}
