{% extends 'base.html' %}

{% block head %}
<title>Social Nexus</title>
{% endblock %}

{% block body %}
<div class="index-flexbox">
    <div class="sidebar"> 
        <h1 class="sidebar">Social Nexus</h1>
        <br><br><br>
        <h2 class="sidebar">Personal forum</h2> 
        <br><br><br><br>
        <div class="sidebar-box">
            <h2>Submit</h2>
            <p>click <a href="/dropper">here</a> to make a post to the forum</p>
        </div><br><br>
        {% if logged_in %}
            <div class="sidebar-box">
                <a href="/profile/{{ current_user.id }}">{{current_user.name}}</a> | <a href="/logout">Logout</a> | <a href="/settings">Settings</a>
            </div>
        {% else %}
            <div class="sidebar-box">
                <a href="/login">Login</a> | <a href="/signup">Signup</a>
            </div>
        {% endif %}
    </div>
    <div class="main">
        <div class="box">
            <!--Only shows this if there arent are 0 (or less ig) entries-->
            {% if submissions|length < 1 %}
                <h2>There are no posts. Make one <a href="/dropper">here</a>.</h2>
            {% else %}
                <p>Sort by: <a href="/">popular</a> | <a href='/new'>new</a></p>
            {% endif %}
            <!--Repeats this for each post-->
            {% for entry in submissions %}
                <div class="postbox">
                    <h2>{{ entry.title }}</h2>
                    <h3>Author: <a href="/profile/{{entry.author}}">{{ entry.author_name }}</a></h3>
                    <!--<h4>Date Created: {{ entry.date_created.date() }}</h4>-->
                    <p>{{ entry.content }}</p>
                    <img src='{{ entry.image }}' class="post-image">
                    <br><hr>
                    <p>likes: {{ entry.votes }} | <a href="/upvote-post/{{ entry.id }}" class="post-link">like</a></p> 
                    <p><b><a href="/post/{{entry.id}}" class="post-link">view post</a></b></p>
                </div>
            {% endfor %}
        </div>  
    </div>
</div>
{% endblock %}
