{% extends 'base.html' %}

{% block head %}
<title>Anonymous Drop</title>
{% endblock %}

{% block body %}
<h1>Anonymous Drop</h1>
<h2>Secure & Anonymous drop box</h2>

<div class="flexbox-container">
    <div class="flex-column">
        <h2>Submit</h2>
        <p>click <a href="/dropper">here</a> to add an anonymous submission to the drop box</p>
    </div>
    <div class="flex-column">
        <h2>View</h2>
        <p>Click <a href="/recipient">here</a> to view entries. Requires sign in</p>
    </div>
</div>
{% endblock %}
