{% extends 'base.html' %}

{% block head %}
<title>Log in</title>
{% endblock %}

{% block body %}
<a href="/"><img src="{{ url_for('static', filename='images/back-arrow.png') }}" class="back"></a>
<div class="box">
    <h1>Login</h1>
    <form action="/login" method="POST" class="login">
        <input type="text" name="username" id="username" placeholder="username" class="login" maxlength="20"><br><br>
        <input type="password" name="password" id="password" class="login"><br><br>
        Remember me <input type="checkbox" name="remember-me" id="remember-me" class="login" checked="true"><br><br>
        <input type="submit" value="submit" class="login">
    </form>
</div>
{% endblock %}
