{% extends 'base.html' %}

{% block head %}
<title>Social Nexus: "{{post.content}}"</title>
{% endblock %}

{% block body %}
<a href="/"><img src="{{ url_for('static', filename='images/back-arrow.png') }}" class="back"></a>
<h1>{{ post.title }}</h1>
<h2>Author: {{ post.author_name }}</h2>
<div class="index-flexbox">
    <div class="sidebar"> 
        <h1 class="sidebar">Social Nexus</h1>
        <br><br><br>
        <h2 class="sidebar">Personal forum</h2> 
        <br><br><br><br>
        <div class="sidebar-box">
            <h2>Submit</h2>
            <p>click <a href="/dropper">here</a> to make an anonymous post to the forum</p>
        </div><br><br>
        {% if logged_in %}
            <div class="sidebar-box">
                {{ name }} | <a href="/logout">Logout</a>
            </div>
        {% else %}
            <div class="sidebar-box">
                <a href="/login">Login</a> | <a href="/signup">Signup</a>
            </div>
        {% endif %}
    </div>
    <div class="box">
        <p>{{ post.content }}</p>
        <br>
        <img src='{{ post.image }}' class="post-image">
        <p>likes: {{ post.votes }} | <a href="/upvote-post/{{ post.id }}">like</a></p>
        <p><b>Date created: {{ post.date_created.date() }} | <a href="/del/{{ post.id }}">Delete</a></b></p>

        <form action="/comment/{{ post.id }}" method="POST">
            <textarea name="content" id="content" rows="10" cols="50" autofocus maxlength="400" placeholder="Make a comment!"></textarea> 
            <br><br>
            <input type="submit" value="submit">
        </form>
        <h2>Comments:</h2>
        {% if comments|length < 1 %}
            <p>There are no comments.</p>
        {% endif %}
        {% for comment in comments %}
            <hr>
            
            <p>{{ comment.content }}</p>
            <br>
            <p>votes: {{ comment.votes }} | <a href="/upvote-comment/{{ post.id }}/{{ comment.id }}">Vote</a></p> 
            <p><a href="/del/comment/{{ post.id }}/{{comment.id}}">delete comment</a></p>
            
        {% endfor %}
    </div>
</div>
<div class="messages">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {%endwith %}
</div>
{% endblock %}