{% extends 'base.html' %}

{% block head %}
<title>{{ user.name }} Social Nexus</title>
{% endblock %}
{% block body %}
<a href="/"><img src="{{ url_for('static', filename='images/back-arrow.png') }}" class="back"></a>
<div class="index-flexbox">
    <div class="sidebar"> 
        <h1 class="sidebar">Social Nexus</h1>
        <br><br><br>
        <h2 class="sidebar">Personal forum</h2> 
        <br><br><br><br>
        <div class="sidebar-box">
            <h2>Submit</h2>
            <p>click <a href="/dropper">here</a> to make a post to the forum</p>
        </div><br><br>
        {% if logged_in %}
            <div class="sidebar-box">
                <a href="/profile/{{ current_user.id }}">{{current_user.name}}</a> | <a href="/logout">Logout</a> | <a href="/settings">Settings</a>
            </div>
        {% else %}
            <div class="sidebar-box">
                <a href="/login">Login</a> | <a href="/signup">Signup</a>
            </div>
        {% endif %}
    </div>
    <div class="main">
        <div class="box">
            {% if user.deleted %}
                <h1>This user has been deleted</h1>
            {% else %}
                <h1 class="author-{{ user.name }}">{{ user.name }}</h1>
                {% if user.bio is not none %}
                    <p>{{ user.bio }}</p>
                {% endif %}
                <h2>posts</h2>
                <hr><br><br>
                <!--Only shows this if there arent are 0 (or less ig) entries-->
                {% if posts|length < 1 %}
                    <h2>{{ user.name }} hasn't made any posts yet</h2><br><br>
                {% endif %}
                <!--Repeats this for each post-->
                {% for entry in posts %}
                    <div class="postbox">
                        <h2>{{ entry.title }}</h2>
                        <p>{{ entry.content }}</p>
                        <img src='{{ entry.image }}' class="post-image">
                        <br><hr>
                        <p>likes: {{ entry.votes }} | <a href="/upvote-post/{{ entry.id }}" class="post-link">like</a></p> 
                        <p><b><a href="/post/{{entry.id}}" class="post-link">view post</a></b></p>
                    </div>
                {% endfor %}
                <h2>comments</h2>
                <hr><br><br>
                <!--Only shows this if there arent are 0 (or less ig) entries-->
                {% if comments|length < 1 %}
                    <h2>{{ user.name }} hasn't made any comments yet</h2>
                {% endif %}
                <!--Repeats this for each post-->
                {% for entry in comments %}
                    <div class="postbox">
                        <p>{{ entry.content }}</p>
                        <img src='{{ entry.image }}' class="post-image">
                        <br><hr>
                        <p>likes: {{ entry.votes }} | <a href="/upvote-post/{{ entry.id }}" class="post-link">like</a></p> 
                        <p><b><a href="/post/{{entry.id}}" class="post-link">view comment</a></b></p>
                    </div>
                {% endfor %}
            {% endif %}
            </div>  
    </div>
</div>
{% endblock %}