{% extends 'base.html' %}

{% block head %}
<title>View posts</title>
{% endblock %}

{% block body %}
<a href="/"><img src="{{ url_for('static', filename='images/back-arrow.png') }}" class="back"></a> <!--back button-->
<h1>Posts</h1>
<div class="box">
    <!--Only shows this if there arent are 0 (or less ig) entries-->
    {% if submissions|length < 1 %}
        <h2>There are no posts. Make one <a href="/dropper">here</a>.</h2>
    {% endif %}
    <!--Repeats this for each post-->
    {% for entry in submissions %}
        <div class="postbox">
            <h2>{{ entry.title }}</h2>
            <h3>Author: {{ entry.author_name }}</h3>
            <!--<h4>Date Created: {{ entry.date_created.date() }}</h4>-->
            <p>{{ entry.content }}</p>
            <img src='{{ entry.image }}' class="post-image">
            <br>
            <p>likes: {{ entry.votes }} | <a href="/upvote-post/{{ entry.id }}" class="post-link">like</a></p> 
            <p><b><a href="/post/{{entry.id}}" class="post-link">view post</a></b></p>
            {% if submissions|length > 1 %} <!--Will only show a horizontal line if there are multiple posts to be divided-->
                <hr>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% if logged_in %}
    <div class="login-bar">
        {{ name }} | <a href="/logout">Logout</a>
    </div>
{% else %}
    <div class="login-bar">
        <a href="/login">Login</a> | <a href="/signup">Signup</a>
    </div>
{% endif %}
<div class="messages">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {%endwith %}
</div>
{% endblock %}
