{% extends 'base.html' %}

{% block head %}
<title>View entries</title>
{% endblock %}

{% block body %}
<a href="/"><img src="{{ url_for('static', filename='images/back-arrow.png') }}" class="back"></a> <!--back button-->
<h1>recipient mailbox</h1>
<div class="box">
    <!--Only shows this if there arent are 0 (or less ig) entries-->
    {% if submissions|length < 1 %}
        <h2>There are no entries</h2>
        <a href="/">back</a>
    {% endif %}
    <!--Repeats this for each post-->
    {% for entry in submissions %}

        <h2>Date Created: {{ entry.date_created.date() }}</h2>
        <p>{{ entry.content }}</p>
        <br>
        <a href="/del/{{entry.id}}">Delete</a>
        {% if submissions|length > 1 %} <!--Will only show a horizontal line if there are multiple posts to be divided-->
            <hr>
        {% endif %}
    {% endfor %}
    

</div>
{% endblock %}
