{% extends 'base.html' %}

{% block head %}
<title>sign up</title>
{% endblock %}

{% block body %}
<a href="/"><img src="{{ url_for('static', filename='images/back-arrow.png') }}" class="back"></a>
<div class="box">
    <h1>Sign up</h1>
    <form action="/signup" method="POST" class="signup">
        <input type="text" name="username" id="username" placeholder="username" class="signup"><br><br>
        <input type="password" name="password" id="password" class="signup"><br><br>
        <input type="submit" value="submit" class="signup">
    </form>
</div>
{% endblock %}
